#section-1{
    animation-delay: .5s;
    animation-duration: 1.5s;
    animation-iteration-count: ;
}

#section-2{
    animation-delay: 1s;
    animation-duration: 2s;
    animation-iteration-count: ;
}